# Kompilierte Java-Dateien
*.class

# Maven Build-Verzeichnis
target/

# IntelliJ IDEA
.idea/
*.iml

# Visual Studio Code
.vscode/

# Log-Dateien
*.log

# BlueJ
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Paketdateien
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Java Virtual Machine Crash Logs
hs_err_pid*
replay_pid*

# Betriebssystem
.DS_Store
Thumbs.db